nvim/.config/nvim/plugin/packer_compiled.lua
nvim/.config/nvim/lua/custom-settings.lua
nvim/.config/nvim/lua/plugins/llms

.pnpm-debug.log
.stack-work/
.env
__pycache__/
qtile/.config/qtile/wallpapers/wallpaper.jpg
mysql_data/
history.txt
.aider*
!aider/.aider*
*.pyz
data/
letsencrypt/
