[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/.config/awesome/freedesktop"]
	path = awesome/.config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule "xmonad/.config/xmonad/xmonad-git"]
	path = xmonad/.config/xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad
[submodule "xmonad/.config/xmonad/xmonad-contrib-git"]
	path = xmonad/.config/xmonad/xmonad-contrib-git
	url = https://github.com/xmonad/xmonad-contrib
