---
interface Props {
  command: string;
  output: string;
}
const { command, output } = Astro.props;
---
<pre class="terminal"><code>$ <span class="prompt">{command}</span><span class="cursor">_</span>
<span class="output">{output}</span></code></pre>
